<table class="tabela" *ngIf="transferencias.length > 0; else ListaVazia">
  <thead class="tabela__cabecalho">
    <th class="tabela__cabelaho__conteudo">Valor</th>
    <th class="tabela__cabelaho__conteudo">Destino</th>
    <th class="tabela__cabelaho__conteudo">Data</th>
  </thead>
  <tbody>
    <tr *ngFor="let transferencia of transferencias" class="tabela__linha">
      <td class="tabela__conteudo">{{ transferencia.valor | currency }}</td>
      <td class="tabela__conteudo">{{ transferencia.destino }}</td>
      <td class="tabela__conteudo">{{ transferencia.data | date: "short" }}</td>
    </tr>
  </tbody>
</table>

<ng-template #ListaVazia>
  <p style="text-align: center">Nenhuma transferência encontrada!!</p>
</ng-template>
